body {
    font-family: 'Roboto Condensed', sans-serif;    
    background-color: #303030;
    color: white;
}
#headerJames{
    font-size: 40px;
}

.nav {
    color: white;
    font-size: 25px;
}

.nav:hover{
    color:  #348A96;
}