body {
    font-family: 'Roboto Condensed', sans-serif;    
    background-color: #303030;
    color: white;
}
#headerJames{
    font-size: 40px;
}

nav {
    background-color: #020202;
    font-size: 25px;
}

.nav:hover{
    color:  #348A96;
}
#navvy {
    background-color: rgba(0, 0, 0, 0.62);
}
#dropdown1{
    background-color: black;
}